body {
    background-color:black;
    display: grid;
    justify-content: center;
}


img {
    width: 700px;
    height: 400px;
}

.primer-commit, h1 {
    color: rebeccapurple;
}

.segundo-commit {
    font-size: 20px;
    font-style: italic;
    color: palevioletred;
}